@use '_colors.scss' as colors;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

body {
  font-family: 'Roboto', sans-serif;
  color: colors.$dark-grey-purple;
  background-color: colors.$dark-purple;

  h1 {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.title {
  font-size: 2rem;
  font-weight: 700;
  background-color: colors.$platinum;
  color: colors.$dark-purple;
  border-radius: 4px;
  box-shadow: colors.$dark-purple 0 2px 4px, colors.$dark-grey-purple 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  padding: 9px 9px;
}
